@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Estilos gerais do corpo da página */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do Cabeçalho */
header {
    background-image: linear-gradient(#75007a,#310046);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Estilo da Navegação */
nav ul {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
}

nav ul li span{
    margin: 5px 15px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2d0b53;
}


main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.apresentacao {
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo do Rodapé */
footer {
    background-image: linear-gradient(#75007a,#310046);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}